.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color: #282c34;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 2em;
}

.titles {
  display: flex;
  width: 50em;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.indicator .dot {
  display: flex;
  width: .8em;
  height: .8em;
  margin-right: .4em;
  border-radius: .4em;
}

.green {
  background-color: greenyellow;
}

.red {
  background-color: red;
}
